name: Docker / Scheduled builds

on:
  # build dev and release branches daily
  schedule:
    - cron: "20 2 * * *" # Daily at 02:20
  workflow_dispatch: # Allow manual trigger

jobs:
  build-dev:
    uses: ./.github/workflows/docker.yml
    with:
      branch: dev
      tag: dev
    secrets: inherit
  build-release-candidate:
    # References to release/X.Y and X.Y-rc are being
    # updated from the devkit (UpdateWorkflows step) whenever a new release branch is created
    uses: opf/openproject/.github/workflows/docker.yml@release/17.0
    with:
      branch: release/17.0
      tag: 17.0-rc
    secrets: inherit
